menu "Zephyr"
source "Kconfig.zephyr"

config DISPLAY_ANSI_COLORS
    bool "Ativar cores ANSI no display"
    default y

config DISPLAY_ANSI_CLEAR_ON_UPDATE
    bool "Limpar tela a cada atualização"
    default y

config DISPLAY_ALERT_PERCENT
    int "Percentual de alerta (em % do limite)"
    default 90

config DISPLAY_LIMITE_LEVE
    int "Limite de velocidade para veículos leves"
    default 60


config DISPLAY_LIMITE_PESADO
    int "Limite de velocidade para veículos pesados"
    default 40


config CAMERA_FAKE_FAIL_RATE
    int "Taxa de falha da câmera (%)"
    default 10

config RADAR_CAMERA_FAILURE_RATE_PERCENT
    int "Porcentagem de falha simulada da câmera (%)"
    default 50
    range 0 100

config RADAR_SPEED_LIMIT_LIGHT_KMH
  int "Limit speed for light vehicles (msec)"
  default 60
  range 0 1000

config RADAR_SPEED_LIMIT_HEAVY_KMH
  int "Limit speed for heavy vehicles (msec)"
  default 50
  range 0 1000

config RADAR_SENSOR_DISTANCE_MM
  int "Distances between radar sensors (mm)"
  default 10000
  range 0 100000

endmenu
